<a href="#/gists/<%= model.id %>"><%= model.get("title") %></a>
<div class="favorite-button <%= (model.get('favorite')) ? 'already-favorited' : '' %>">
  <button class="add-favorite">Favorite</button>
  <button class="remove-favorite">Unfavorite</button>
</div>